<a href="https://colab.research.google.com/github/rithish-danda/Code-repo/blob/main/17_03_(Type()%2C_Selection_statements%2C_for_loop)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Using type()**

In [ ]:
a=10
print(type(a))
a=14.67
print(type(a)) # class changed automatially after modification of the object
print(type((1,2,3)))
print(type([1,2,3]))
print(type({1,2,3}))
print(type("String"))

<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'str'>

Selection Statements  
(if-else)

In [ ]:
n = int(input("Input the data: "))
if n > 0:                               # Here, ":" is called as Indentation operator
  print("Input number is Positive.")    # Indentation is required to maintain a block of code
elif n < 0:
  print("Input number is Negative.")
else:
  print("Input number is 0.")
print(" ")
print("Task Complete")

Input the data: -9
Input number is Negative.

Task Complete

In [ ]:
a = int(input())
if a > 10:
  print("Hello")
elif a > 20:
  print("Bye")
else:
  print("Goodbye")

7
Goodbye

**Loops**


for loop :-
syntax :-  for i in range(a,b,c):
               //code

Here,
'i' is a member of the range


'in' ia a membership operator


"a" is the starting point of the loop


"b" is the end point of the loop


"c" is the updating factor

In [ ]:
z = 10
for i in range(1,z+1):        # 'in' is a membership operator used to check if the object belongs to a particular group
  print(i)

1
2
3
4
5
6
7
8
9
10

**Questions:**

1. Read a number with three digits and compute the addition of last and first digit
2. Read any two numbers and find the smallest among them
3. Check the input year if it is a leap year
4. Smallest among three numbers
5. Second Smallest / Largest among three numbers
6. Display even series till n
7. Compute the sum and average of n numbers
8. Print the series of factors for an input number n till 100.
9. Print the square of a n numbers using loops.
10. Count the number of factor for a number.

In [2]:
# 1. Read a number with three digits and compute the addition of last and first digit
n = input("Input any three digit number: ")
n1 = n[::-1]
n = int(n)
n1 = int(n1)
if n>99 and n<1000:
  a = n%10
  b = n1%10
  sum = a + b
  print("The sum of first and last digits of",n,"is",sum)
else:
  print("Invalid input")

Input any three digit number: 114
The sum of first and last digits of 114 is 5

In [3]:
# 2. Read any two numbers and find the smallest among them
a = input("Enter the first number: ")
b = input("Enter the second number: ")
if a>b:
  print("The greatest among",a,"and",b,"is",a)
else:
  print("The greatest among",a,"and",b,"is",b)

Enter the first number: 99
Enter the second number: 69
The greatest among 99 and 69 is 99

In [ ]:
# 3. Check the input year if it is a leap year
y = int(input("Input the year: "))
if  (y%400==0) or (y%4==0 and y%100!=0):
  print(y,"is a Leap year")
else:
  print(y,"is not a Leap year")

Input the year: 2016
2016 is a Leap year

In [4]:
# 4. Smallest among three numbers
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
z = int(input("Enter the third number: "))
if x<y and x<z:
  print("The smallest among given three numbers is",x)
elif y<x and y<z:
  print("The smallest among given three numbers is",y)
else:
  print("The smallest among given three numbers is",z)

Enter the first number: 4
Enter the second number: 9
Enter the third number: 3
The smallest among given three numbers is 3

In [12]:
# 5. Second Smallest / Largest among three numbers
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
z = int(input("Enter the third number: "))
"""
if (x>y and x>z):
  if y>z:
    print(y,"is the second smallest number")
  else:
    print(z,"is the second smallest number")
elif (y>x and y>z):
  if x>z:
    print(x,"is the second smallest number")
  else:
    print(z,"is the second smallest number")
else:
  if x>y:
    print(x,"is the second smallest number")
  else:
    print(y,"is the second smallest number")
"""
if (x>y and x<z) or (x<y and x>z):
  print(x,"is the second smallest number.")
elif (y>x and y<z) or (y<x and y>z):
  print(y,"is the second smallest number.")
elif (z>x and z<y) or (z<x and z>y):
  print(z,"is the second smallest number.")

Enter the first number: 6
Enter the second number: 7
Enter the third number: 8
7 is the second smallest number.

In [18]:
# 6. Display even series till n
n = int(input("Input the value of n: "))
for i in range(0,n+1):
  if i%2==0:
    print(i,end=" ")

Input the value of n: 15
0 2 4 6 8 10 12 14

In [7]:
# 7. Compute the sum and average of n numbers
n = int(input("Input the number of values to be taken 'n' : "))
sum = 0
for i in range(0,n):
  a = int(input("Enter number: "))
  sum = sum + a
  i += 1
avg = sum/n
print("The sum of all given numbers is",sum)
print("The average of all given numbers is",avg)

Input the number of values to be taken 'n' : 7
Enter number: 1
Enter number: 2
Enter number: 3
Enter number: 4
Enter number: 5
Enter number: 6
Enter number: 7
The sum of all given numbers is 28
The average of all given numbers is 4.0

In [9]:
# 8. Print the series of factors for an input number n till 100
n = int(input("Input any number: "))
print("The factors for the number",n,"upto 100 are: ")
for i in range(1,100+1):
  if n%i==0:
    print(i)

Input any number: 500
The factors for the number 500 upto 100 are:
1
2
4
5
10
20
25
50
100

In [ ]:
# 9. Print the square of a n numbers using loops.
n = int(input("Input the value of n: "))
for i in range(1,n+1):
  sqr = i*i
  print("The square of",i,"is",sqr)

Input the value of n: 10
The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100

In [10]:
# 10. Count the number of factor for a number
n = int(input("Input any number: "))
count = 0
for i in range(1,n+1):
  if(n%i==0):
    count += 1
print("The number",n,"has",count,"factors.")

Input any number: 2345678
The number 2345678 has 8 factors.